
<div class="md-form">
    <div class="file-field">
        <a class="btn-floating peach-gradient mt-0 float-left">
            <i class="fas fa-camera" aria-hidden="true"></i>
            <InputFile OnChange="@HandleSelected" multiple accept=".jpg, .jpeg, .png" />
        </a>
        <div class="file-path-wrapper">
            <input type="text" class="file-path validate" placeholder="@Translate.Keys["AddPicture"]">
        </div>
    </div>
</div>