@page "/about"


<main class="m-0">

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h3>About</h3>
            <h5>Welcome to Startapp PRO</h5>
            <div class="alert alert-info" role="alert">
                <h4 class="alert-heading">Note!</h4>
                <p>Not optimized for use as complete app to end-user, this project template created and designed to help developer create his own app in verry brief and short time, it resolves the most common and complex issues faced practically for almost modern applications.</p>
            </div>
            <p>PWA (Progressive Web Application) build with blazor WebAssembly as SPA (Single Page Application), ASP.NET CORE 5.0, themed by MDBootstrap 4.19 Pro</p>
            <p>Ideal solution for developer to build his own application quickly and efficiently, it contains features like, account management, login, register, social logins, users, roles, permissions …</p>
            <h5>Features and technologies</h5>
            <ul>
                <li>Front-End: Blazor Web Assembly: razor pages, like MVC, Markup combined with C# code;</li>
                <li>Theming with MDBootstrap 4.19 Pro;</li>
                <li>Back-End: ASP.NET CORE 5.0, RESTful WEB API;</li>
                <li>Database: Code-first approach Entity Framework Core with pre-populated data like: users, roles, articles…</li>
                <li>Security: Authentication based on IdentityServer4 V4.1.1;</li>
                <li>OIDC: OAuth2.0 authorization Code Flow with PKCE using special Js library designed by “Startapp company” to extract a token from external provider then exchange it internally by IdentityServer4</li>
                <li>External social logins like: Facebook, LinkedIn, Google;</li>
                <li>Pages: Login, Register, Articles, About, Contact, Profile, Settings;</li>
                <li>CRUD for users, roles for Admin user;</li>
                <li>CRUD for articles, for all registered users, with possibility to add images associated, For added article (restrict crud op for the owner of that article);</li>
                <li>Management: roles, permissions enabled;</li>
                <li>Documented with Swagger;</li>
                <li>Bundling and minification with Gulp</li>

            </ul>
            <h5>Others</h5>
            <ul>
                <li>Multi-languages application, 15 languages: Arabic, English, Chinese, Indian, Spanish, Frensh, Bengali, Russian, Portuguese, Indonisan, German, Japanese, Corian, Turkish, Italian </li>
                <li>Cross-platform: Windows, iOS, Linux; instalable on every machine capable of runinnig DotNet Core</li>
                <li>You can also convert it to native app for Android </li>
            </ul>
            <h5>On option</h5>
            <ul>
                <li>Integrated shipping cart functionalities</li>
                <li>Fully integrated E-Payment via PayPal with advanced server-side control, like saving the order and... </li>
            </ul>

        </div>
        <div class="col-md-1"></div>
    </div>

</main>