
@using Startapp.Client.Pages.Articles.Components

@inherits HomeBase

    <!-- Mega menu -->
    <div class="mt-5 pt-3">

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark primary-color mt-5">

            <!-- Navbar brand -->
            <a class="font-weight-bold white-text mr-4" href="#">Categories</a>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
                    aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent1">

                <!-- Links -->
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item dropdown mega-dropdown active">

                        <a class="nav-link dropdown-toggle  no-caret" id="navbarDropdownMenuLink1" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Laptop</a>

                        <div class="dropdown-menu mega-menu v-2 row z-depth-1 white" aria-labelledby="navbarDropdownMenuLink1">

                            <div class="row mx-md-4 mx-1">

                                <div class="col-md-6 col-xl-3 sub-menu my-xl-5 mt-5 mb-4">

                                    <h6 class="sub-title text-uppercase font-weight-bold blue-text">Brand</h6>

                                    <ul class="caret-style pl-0">

                                        <li class=""><a class="menu-item mb-0" href="">Sony</a></li>

                                        <li class=""><a class="menu-item" href="">Lenovo</a></li>

                                        <li class=""><a class="menu-item" href="">Apple</a></li>

                                        <li class=""><a class="menu-item" href="">Dell</a></li>

                                        <li class=""><a class="menu-item" href="">Asus</a></li>

                                    </ul>

                                </div>

                                <div class="col-md-6 col-xl-3 sub-menu my-xl-5 mt-md-5 mt-4 mb-4">

                                    <h6 class="sub-title text-uppercase font-weight-bold blue-text">Sales</h6>

                                    <ul class="caret-style pl-0">

                                        <li class=""><a class="menu-item" href="">Laptops Up to 50% Off </a></li>

                                        <li class=""><a class="menu-item" href="">Laptops under $399</a></li>

                                        <li class=""><a class="menu-item" href="">Laptops Up to 50% Off</a></li>

                                        <li class=""><a class="menu-item" href="">Laptops for designers</a></li>

                                        <li class=""><a class="menu-item" href="">Laptops for developers</a></li>

                                    </ul>

                                </div>

                                <div class="col-md-6 col-xl-3 sub-menu my-xl-5 mt-4 mb-4">

                                    <h6 class="sub-title text-uppercase font-weight-bold blue-text">Processor Type</h6>

                                    <ul class="caret-style pl-0">

                                        <li class=""><a class="menu-item" href="">Intel Core i5 4th Gen.</a></li>

                                        <li class=""><a class="menu-item" href="">Intel Core i5 5th Gen.</a></li>

                                        <li class=""><a class="menu-item" href="">Intel Core i5 3th Gen.</a></li>

                                        <li class=""><a class="menu-item" href="">Intel Core i5 6th Gen.</a></li>

                                        <li class=""><a class="menu-item" href="">Intel Core i5 7th Gen.</a></li>

                                    </ul>

                                </div>

                                <div class="col-md-6 col-xl-3 sub-menu my-xl-5 mt-4 mb-5">

                                    <h6 class="sub-title text-uppercase font-weight-bold blue-text">Customers opinions</h6>

                                    <ul class="caret-style pl-0">

                                        <li class=""><a class="menu-item" href="">Totam rem aperiam eaque</a></li>

                                        <li class=""><a class="menu-item" href="">Beatae vitae dicta sun</a></li>

                                        <li class=""><a class="menu-item" href="">Quae ab illo inventore</a></li>

                                        <li class=""><a class="menu-item" href="">Nemo enim ipsam</a></li>

                                        <li class=""><a class="menu-item" href="">Neque porro quisquam est</a></li>

                                    </ul>

                                </div>

                            </div>

                        </div>

                    </li>

                    <li class="nav-item dropdown mega-dropdown">

                        <a class="nav-link dropdown-toggle no-caret" id="navbarDropdownMenuLink1" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Cameras</a>

                        <div class="dropdown-menu mega-menu v-2 row z-depth-1 white" aria-labelledby="navbarDropdownMenuLink1">

                            <div class="row mx-md-4 mx-1">

                                <div class="col-md-12 col-lg-4 sub-menu my-lg-5 mt-5 mb-4">

                                    <h6 class="sub-title text-uppercase font-weight-bold blue-text">Featured</h6>

                                    <!-- Featured image -->
                                    <div class="view overlay mb-3 z-depth-1">

                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/9.jpg" class="img-fluid"
                                             alt="First sample image">

                                        <div class="mask flex-center rgba-white-slight">

                                            <p></p>

                                        </div>

                                    </div>

                                    <h4 class="mb-2"><a class="news-title-2 pl-0" href="">Lorem ipsum dolor sit</a></h4>

                                </div>

                                <div class="col-md-6 col-lg-4 sub-menu my-lg-5 my-4">

                                    <h6 class="sub-title text-uppercase font-weight-bold blue-text">Brands</h6>

                                    <ul class="caret-style pl-0">

                                        <li class=""><a class="menu-item" href="">Canon</a></li>

                                        <li class=""><a class="menu-item" href="">Nikon</a></li>

                                        <li class=""><a class="menu-item" href="">Sony</a></li>

                                        <li class=""><a class="menu-item" href="">GoPro</a></li>

                                        <li class=""><a class="menu-item" href="">Samsung</a></li>

                                    </ul>

                                </div>

                                <div class="col-md-6 col-lg-4 sub-menu my-lg-5 my-4">

                                    <h6 class="sub-title text-uppercase font-weight-bold blue-text">Accesories</h6>

                                    <ul class="caret-style pl-0">

                                        <li class=""><a class="menu-item" href="">Excepteur sint</a></li>

                                        <li class=""><a class="menu-item" href="">Sunt in culpa</a></li>

                                        <li class=""><a class="menu-item" href="">Sed ut perspiciatis</a></li>

                                        <li class=""><a class="menu-item" href="">Mollit anim id est</a></li>

                                        <li class=""><a class="menu-item" href="">Accusantium doloremque</a></li>

                                    </ul>

                                </div>

                            </div>

                        </div>

                    </li>

                    <li class="nav-item dropdown mega-dropdown">

                        <a class="nav-link dropdown-toggle no-caret" id="navbarDropdownMenuLink1" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Accesories</a>

                        <div class="dropdown-menu mega-menu v-2 row z-depth-1 white" aria-labelledby="navbarDropdownMenuLink1">

                            <div class="row mx-md-4 mx-1">

                                <div class="col-md-6 col-xl-3 sub-menu my-xl-5 mt-5 mb-4">

                                    <h6 class="sub-title text-uppercase font-weight-bold blue-text">Featured</h6>

                                    <ul class="caret-style pl-0">

                                        <li class=""><a class="menu-item mb-0" href="">Mouse</a></li>

                                        <li class=""><a class="menu-item" href="">Printer</a></li>

                                        <li class=""><a class="menu-item" href="">Laptop bags</a></li>

                                        <li class=""><a class="menu-item" href="">Software</a></li>

                                        <li class=""><a class="menu-item" href="">Headphones</a></li>

                                    </ul>

                                </div>

                                <div class="col-md-6 col-xl-3 sub-menu my-xl-5 mt-md-5 mt-4 mb-4">

                                    <h6 class="sub-title text-uppercase font-weight-bold blue-text">Related</h6>

                                    <!-- Featured image -->
                                    <div class="view overlay mb-3 z-depth-1">

                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(43).jpg" class="img-fluid"
                                             alt="First sample image">

                                        <div class="mask flex-center rgba-white-slight">

                                            <p></p>

                                        </div>

                                    </div>

                                    <h4 class="mb-2"><a class="news-title-2 pl-0" href="">Lorem ipsum dolor sit</a></h4>

                                    <p class="font-small text-uppercase dark-grey-text">
                                        <i class="far fa-clock-o pr-2"
                                           aria-hidden="true"></i>July

                                        17, 2017 / <i class="far fa-comments px-1" aria-hidden="true"></i> 20
                                    </p>

                                </div>

                                <div class="col-md-6 col-xl-3 sub-menu my-xl-5 mt-4 mb-4">

                                    <h6 class="sub-title text-uppercase font-weight-bold blue-text">Bestseller</h6>

                                    <!-- Featured image -->
                                    <div class="view overlay mb-3 z-depth-1">

                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/6.jpg" class="img-fluid"
                                             alt="First sample image">

                                        <div class="mask flex-center rgba-white-slight">

                                            <p></p>

                                        </div>

                                    </div>

                                    <h4 class="mb-2"><a class="news-title-2 pl-0" href="">Ut labore et dolore magna</a></h4>

                                    <p class="font-small text-uppercase dark-grey-text">
                                        <i class="far fa-clock-o pr-2"
                                           aria-hidden="true"></i>July

                                        16, 2017 / <i class="far fa-comments px-1" aria-hidden="true"></i> 25
                                    </p>

                                </div>

                                <div class="col-md-6 col-xl-3 sub-menu my-xl-5 mt-4 mb-5">

                                    <h6 class="sub-title text-uppercase font-weight-bold blue-text">

                                        Customers opinion
                                    </h6>

                                    <ul class="caret-style pl-0">

                                        <li class=""><a class="menu-item" href="">Totam rem aperiam eaque</a></li>

                                        <li class=""><a class="menu-item" href="">Beatae vitae dicta sun</a></li>

                                        <li class=""><a class="menu-item" href="">Quae ab illo inventore</a></li>

                                        <li class=""><a class="menu-item" href="">Nemo enim ipsam</a></li>

                                        <li class=""><a class="menu-item" href="">Neque porro quisquam est</a></li>

                                    </ul>

                                </div>

                            </div>

                        </div>

                    </li>

                </ul>
                <!-- Links -->
                <!-- Search form -->
                <form class="search-form" role="search">

                    <div class="form-group md-form my-0 waves-light">

                        <input type="text" class="form-control" placeholder="Search">

                    </div>

                </form>

            </div>
            <!-- Collapsible content -->

        </nav>
        <!-- Navbar -->

    </div>
    <!-- Mega menu -->


    <div class="row pt-2">
        <!-- Content -->
        <div class="col-lg-12">
            <!-- Products Grid -->
            <section class="section pt-2">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-lg-8 col-md-12 mb-3 pb-lg-2">

                        <!-- Image -->
                        <div class="view zoom z-depth-1">

                            <img src="https://mdbootstrap.com/img/Photos/Others/product1.jpg" class="img-fluid" alt="sample image">

                            <div class="mask rgba-white-light">

                                <div class="dark-grey-text d-flex align-items-center pt-4 ml-3 pl-3">

                                    <div>

                                        <a><span class="badge badge-danger">bestseller</span></a>

                                        <h2 class="card-title font-weight-bold pt-2"><strong>This is news title</strong></h2>

                                        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>

                                        <a class="btn btn-danger btn-sm btn-rounded clearfix d-none d-md-inline-block">Read more</a>

                                    </div>

                                </div>

                            </div>

                        </div>
                        <!-- Image -->

                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-lg-4 col-md-12 mb-4">

                        <!-- Section: Categories -->
                        <section class="section">


                            <ul class="list-group z-depth-1">

                                <li class="list-group-item d-flex justify-content-between align-items-center">

                                    <a class="dark-grey-text font-small">
                                        <i class="fas fa-laptop dark-grey-text mr-2"
                                           aria-hidden="true"></i>

                                        Laptops
                                    </a>
                                    <a href=""><span class="badge badge-danger badge-pill">43</span></a>

                                </li>

                                <li class="list-group-item d-flex justify-content-between align-items-center">

                                    <a class="dark-grey-text font-small">
                                        <i class="fas fa-mobile-alt dark-grey-text mr-3"
                                           aria-hidden="true"></i>

                                        Smartphone
                                    </a>

                                    <span class="badge badge-danger badge-pill">32</span>

                                </li>

                                <li class="list-group-item d-flex justify-content-between align-items-center">

                                    <a class="dark-grey-text font-small">
                                        <i class="fas fa-tablet-alt dark-grey-text mr-3"
                                           aria-hidden="true"></i>

                                        Tablet
                                    </a>

                                    <span class="badge badge-danger badge-pill">18</span>

                                </li>

                                <li class="list-group-item d-flex justify-content-between align-items-center">

                                    <a class="dark-grey-text font-small">
                                        <i class="fas fa-headphones-alt dark-grey-text mr-3"
                                           aria-hidden="true"></i>Heahphones
                                    </a>

                                    <span class="badge badge-danger badge-pill">37</span>

                                </li>

                                <li class="list-group-item d-flex justify-content-between align-items-center">

                                    <a class="dark-grey-text font-small">
                                        <i class="fas fa-camera-retro dark-grey-text mr-3"
                                           aria-hidden="true"></i>Camera
                                    </a>

                                    <span class="badge badge-danger badge-pill">15</span>

                                </li>

                                <li class="list-group-item d-flex justify-content-between align-items-center">

                                    <a class="dark-grey-text font-small">
                                        <i class="fas fa-suitcase dark-grey-text mr-3"
                                           aria-hidden="true"></i>Accesories
                                    </a>

                                    <span class="badge badge-danger badge-pill">64</span>

                                </li>

                                <li class="list-group-item d-flex justify-content-between align-items-center">

                                    <a class="dark-grey-text font-small">
                                        <i class="fas fa-tv dark-grey-text mr-3"
                                           aria-hidden="true"></i>TV
                                    </a>

                                    <span class="badge badge-danger badge-pill">2</span>

                                </li>

                            </ul>

                        </section>
                        <!-- Section: Categories -->

                    </div>
                    <!-- Grid column -->

                </div>

            </section>
            <!-- Products Grid -->

        </div>
        <!-- Content -->

    </div>
