@page "/plans"
<!-- Main layout -->
<main>

    <div class="container">

        <!-- Section: Features v.4 -->
        <section class="mt-5 wow fadeIn" data-wow-delay="0.3s">

            <!-- Section heading -->
            <h1 class="text-center my-5 h1">Why is it so great?</h1>
            <!-- Section description -->
            <p class="text-center mb-5 w-responsive mx-auto">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum
                porro a pariatur accusamus veniam.
            </p>

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-4">

                    <!-- Grid row -->
                    <div class="row mb-2">
                        <div class="col-2">
                            <i class="fas fa-2x fa-flag-checkered indigo-text"></i>
                        </div>
                        <div class="col-10">
                            <h5 class="font-weight-bold">International</h5>
                            <p class="grey-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                                nam, aperiam minima assumenda.
                            </p>
                        </div>
                    </div>
                    <!-- Grid row -->
                    <!-- Grid row -->
                    <div class="row mb-2">
                        <div class="col-2">
                            <i class="fas fa-2x fa-flask blue-text"></i>
                        </div>
                        <div class="col-10">
                            <h5 class="font-weight-bold">Experimental</h5>
                            <p class="grey-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                                nam, aperiam minima assumenda.
                            </p>
                        </div>
                    </div>
                    <!-- Grid row -->
                    <!-- Grid row -->
                    <div class="row mb-2">
                        <div class="col-2">
                            <i class="fas fa-2x fa-glass-martini cyan-text"></i>
                        </div>
                        <div class="col-10">
                            <h5 class="font-weight-bold">Relaxing</h5>
                            <p class="grey-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                                nam, aperiam minima assumenda.
                            </p>
                        </div>
                    </div>
                    <!-- Grid row -->

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-4 mb-2 text-center text-md-left flex-center">
                    <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/iphone-portfolio1.png" alt="" class="z-depth-0">
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-4">

                    <!-- Grid row -->
                    <div class="row mb-2">
                        <div class="col-2">
                            <i class="fas fa-2x fa-heart deep-purple-text"></i>
                        </div>
                        <div class="col-10">
                            <h5 class="font-weight-bold">Beloved</h5>
                            <p class="grey-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                                nam, aperiam minima assumenda.
                            </p>
                        </div>
                    </div>
                    <!-- Grid row -->
                    <!-- Grid row -->
                    <div class="row mb-2">
                        <div class="col-2">
                            <i class="fas fa-2x fa-bolt purple-text"></i>
                        </div>
                        <div class="col-10">
                            <h5 class="font-weight-bold">Rapid</h5>
                            <p class="grey-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                                nam, aperiam minima assumenda.
                            </p>
                        </div>
                    </div>
                    <!-- Grid row -->
                    <!-- Grid row -->
                    <div class="row mb-2">
                        <div class="col-2">
                            <i class="fas fa-2x fa-magic pink-text"></i>
                        </div>
                        <div class="col-10">
                            <h5 class="font-weight-bold">Magical</h5>
                            <p class="grey-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                                nam, aperiam minima assumenda.
                            </p>
                        </div>
                    </div>
                    <!-- Grid row -->

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </section>
        <!-- Section: Features v.4 -->

       
        <hr class="my-5">

        <!-- Section: Pricing v.3 -->
        <section class="wow fadeIn" data-wow-delay="0.3s">

            <!-- Section heading -->
            <h1 class="text-center mb-5 h1">Our pricing plans</h1>
            <!-- Section description -->
            <p class="text-center mb-5 w-responsive mx-auto">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum
                porro a pariatur accusamus veniam.
            </p>

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
                    <!-- Card -->
                    <div class="card hoverable">

                        <!-- Content -->
                        <div class="text-center">
                            <div class="card-body">
                                <h5>Basic plan</h5>
                                <div class="d-flex justify-content-center">
                                    <div class="card-circle d-flex justify-content-center align-items-center">
                                        <i class="fas fa-home light-blue-text"></i>
                                    </div>
                                </div>

                                <!-- Price -->
                                <h2 class="font-weight-bold my-3">59$</h2>
                                <p class="grey-text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa pariatur id
                                    nobis
                                    accusamus deleniti cumque hic laborum.
                                </p>
                                <a class="btn btn-light-blue btn-rounded">Buy now</a>
                            </div>
                        </div>

                    </div>
                    <!-- Card -->
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-md-0 mb-4">
                    <!-- Card -->
                    <div class="card purple-gradient hoverable">

                        <!-- Content -->
                        <div class="text-center white-text">
                            <div class="card-body">
                                <h5>Premium plan</h5>
                                <div class="d-flex justify-content-center">
                                    <div class="card-circle d-flex justify-content-center align-items-center">
                                        <i class="fas fa-users white-text"></i>
                                    </div>
                                </div>

                                <!-- Price -->
                                <h2 class="font-weight-bold my-3">79$</h2>
                                <p>
                                    Esse corporis saepe laudantium velit adipisci cumque iste ratione facere non
                                    distinctio cupiditate sequi atque.
                                </p>
                                <a class="btn btn-outline-white btn-rounded">Buy now</a>
                            </div>
                        </div>

                    </div>
                    <!-- Card -->
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-lg-4 col-md-12">
                    <!-- Card -->
                    <div class="card hoverable">

                        <!-- Content -->
                        <div class="text-center">
                            <div class="card-body">
                                <h5>Advanced plan</h5>
                                <div class="d-flex justify-content-center">
                                    <div class="card-circle d-flex justify-content-center align-items-center">
                                        <i class="fas fa-chart-bar light-blue-text"></i>
                                    </div>
                                </div>

                                <!-- Price -->
                                <h2 class="font-weight-bold my-3">99$</h2>
                                <p class="grey-text">
                                    At ab ea a molestiae corrupti numquam quo beatae minima ratione magni
                                    accusantium
                                    repellat eveniet quia vitae.
                                </p>
                                <a class="btn btn-light-blue btn-rounded">Buy now</a>
                            </div>
                        </div>

                    </div>
                    <!-- Card -->
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </section>
        <!-- Section: Pricing v.3 -->

        <hr class="my-5">

     

    </div>

</main>
<!-- Main layout -->