.navbar.navbar-1 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=f3e5f5');
}
/*.navbar.navbar-1 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger5.svg?color=f3e5f5');
}*/
.hidden {
   display: none;
}
.search {
    max-width: 380px !important;
    min-width: 300px !important;
}
.btn-lng {
    margin: 8px 4px 0px 4px !important;
}

.modal-md {
    max-width: 400px !important;
}

.md-form input {
    color: #1244f0 !important;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.validation-message {
    color: #f31361 !important;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: smaller;
    text-align: right;
}
.alert-div {
    color: #f31361 !important;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-small;
    text-align: left;
}

/*start contact page style*/
.btn .fas, .btn .fab, .btn .far {
    margin-left: 3px;
}
h6 {
    line-height: 1.7;
}
footer.page-footer {
    margin-top: 0px;
    padding-top: 0px;
}

body {
    background-color: #eee;
}

.btn.peach-gradient {
    color: #fff !important;
}

.map-container-section {
    overflow: hidden;
    /* padding-bottom:56.25%; */
    position: relative;
    height: 0;
}

    .map-container-section iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
/*end contact page style*/
/*start image style*/

.img-div {
    display: inline-block;
    position: relative;
    margin: 0px;
    padding: 0px;
    margin-bottom: 1em;
}
.del-img {
    display: inline-block;
    float: right;
    margin: 0px;
    position: absolute;
    top: 0px;
    right: 3px;
}

.add-cart {
    display: inline-block;
    float: left;
    margin: 0px;
    position: absolute;
    top: 3px;
    left: 0px;
}
.del-img:hover {
    opacity: 0.9;
}
.card-md {
    max-width: 350px;
}
.card-sm {
    max-width: 180px;
}
.img-md {
    height: 230px;
    width: 100%;
}
.img-sm {
    height: 68px;
    max-width: 100px;
}
.img-mdc {
    height: 200px;
    width: 100%;
}
.img-smc {
    height: 92px;
    width: 100px;
}
.img-max {
    height: 100%;
    width: 100%;
}
/*end image style*/

