@page "/cart"


<main>

    <!-- Main Container -->
    <div class="container mx-0 p-0">

        <!-- Section cart -->
        <h4 class="my-5">Cart functionnalities not implemented for free version</h4>
        <!-- Section cart -->

    </div>
    <!-- Main Container -->

</main>