@inject ILanguageContainerService Translate

<main class="mt-4">
    <div class="container">

        <!--Section: Content-->
        <section class="px-md-5 mx-md-5 text-center dark-grey-text mb-4">

            <Spinner></Spinner>

            <h3 class="font-weight-bold mt-5">@Translate.Keys["AuthorizingUser"]</h3>


        </section>
        <!--Section: Content-->

    </div>
</main>
