@inject ILanguageContainerService Translate

<main class="mt-4">
    <div class="container">

        <!--Section: Content-->
        <section class="px-md-5 mx-md-5 text-center dark-grey-text mb-4">

            <img src="https://mdbootstrap.com/img/Others/404_mdb.png" alt="Error 404" class="img-fluid mb-4">

            <h3 class="font-weight-bold">Oops! This obviously isn't a page you were looking for.</h3>

            <p> @Translate.Keys[""] Please, let us know how you got here, and use one of the following links to navigate back to safe harbor.</p>

            <a class="btn btn-info btn-sm btn-rounded" href="https://mdbootstrap.com/docs/jquery/" role="button">
                About
                MDB
            </a>
            <a class="btn btn-info btn-sm btn-rounded" href="https://mdbootstrap.com/education/bootstrap/"
               role="button">Tutorial</a>
            <a class="btn btn-info btn-sm btn-rounded" href="https://mdbootstrap.com/products/jquery-ui-kit/"
               role="button">MDB Pro</a>
            <a class="btn btn-info btn-sm btn-rounded" href="https://mdbootstrap.com/support/" role="button">Support</a>


        </section>
        <!--Section: Content-->

    </div>
</main>
